
    <!-- Contenido Principal -->
            <h2 class="text-3xl font-semibold mb-6">Editar perfil del Alumno</h2>
                <!-- Formulario -->
                <form id="alumnoForm" method="POST" action="/alumno/{{alumnoss._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="mt-20 bg-blue-500 text-white py-2 px-4 rounded text-sm">Guardar</button>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                  <div>
                    <label for="nombreAlumno" class="text-gray-600">Nombre:</label>
                    <input type="text" id="Nombre" name="Nombre" class="font-semibold" value="{{alumnoss.Nombre}}" required>
                    </div>
                    <div>
                      <label for="numeroControl" class="text-gray-600">Número de Control:</label>
                      <input type="text" id="Numero_control" name="Numero_control" class="font-semibold" value="{{alumnoss.Numero_control}}"required>
                      </div>
                      <div>
                        <label for="semestreAlumno" class="text-gray-600">Semestre:</label>
                        <input type="text" id="semestre" name="semestre" class="font-semibold" value="{{alumnoss.semestre}}" required>
                        </div>
                        <div>
                          <label for="carreraAlumno" class="text-gray-600">Carrera:</label>
                          <select id="carrera" name="carrera" class="font-semibold" value="{{alumnoss.carrera}}" required>
                            <option value="Arquitectura">Arquitectura</option>
                            <option value="Lic. en Administración">Lic. en Administración</option>
                            <option value="Contador Público">Contador Público</option>
                            <option value="Ing. Aeronáutica">Ing. Aeronáutica</option>
                            <option value="Ing. Ambiental">Ing. Ambiental</option>
                            <option value="Ing. Biomédica">Ing. Biomédica</option>
                            <option value="Ing. Bioquímica">Ing. Bioquímica</option>
                            <option value="Ing. Civil">Ing. Civil</option>
                            <option value="Ing. en Diseño Industrial">Ing. en Diseño Industrial</option>
                            <option value="Ing. Electromecánica">Ing. Electromecánica</option>
                            <option value="Ing. Electrónica">Ing. Electrónica</option>
                            <option value="Ing. Informática">Ing. Informática</option>
                            <option value="Ing. en Gestión Empresarial">Ing. en Gestión Empresarial</option>
                            <option value="Ing. en Logística">Ing. en Logística</option>
                            <option value="Ing. en Nanotecnología">Ing. en Nanotecnología</option>
                            <option value="Ing. en Sistemas Computacionales">Ing. en Sistemas Computacionales</option>
                            <option value="Ing. en Tecnologías de la Información y Comunicaciones">Ing. en Tecnologías de la Información y Comunicaciones</option>
                            <option value="Ing. Industrial">Ing. Industrial</option>
                            <option value="Ing. Química">Ing. Química</option>
                            <option value="Ing. Mecánica">Ing. Mecánica</option>
                            </div>
                          </form>